data
/checkpoints/*
!/checkpoints/.gitkeep
/checkpoint/*
!/checkpoint/.gitkeep
/log/*
!/log/.gitkeep

.idea
*.pyc
__pycache__/
*.ckpt
*.pth
*.log
*.onnx
/venv/
/artifacts/

.vscode
.ipynb_checkpoints/


*.zip
*.gz
*.tgz
*.rar
*.zst
*.7z
*.xz
*.bz2
*.tar
*.tar.gz