.idea
*.pyc
__pycache__/
local_tools/
*.ckpt
*.pth
*.log
infer_out/
/output/*
*.onnx
/data/*
/data4oss/*
/data4oss_2/*
/data4oss_old/*
/data4oss_2_old/*
/log/*
/xary_proj/*
/separated/*
!/data/.gitkeep
/checkpoints/*
!/checkpoints/.gitkeep
/venv/
/artifacts/
/onnxrun/*
!/onnxrun/*.py
*.tar.gz

.vscode
.ipynb_checkpoints/
