.idea
*.pyc
__pycache__/
local_tools/
*.ckpt
*.pth
*.log
infer_out/
/output/*
*.onnx
/data/*
!/data/.gitkeep
/checkpoints/*
!/checkpoints/.gitkeep
/venv/
/artifacts/
/onnxrun/*
!/onnxrun/*.py

.vscode
.ipynb_checkpoints/
